<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{home.admin.title}"></title>
    <head th:replace="fragments/head :: head"></head>


</head>
<body>
<div class="header"></div>

<div th:replace="fragments/header :: nav"></div>


<div class="container">

    <img th:src="@{../images/paymentsAdmin.jpg}" class="img-responsive center-block" alt="Logo" />

</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>