<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <head th:replace="fragments/head :: head"></head>
</head>
<body>

<div class="header"></div>

<div th:replace="fragments/header :: nav"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form autocomplete="off" action="#" th:action="@{/admin/registration}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:text="#{home.admin.registry.client.register.title}"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message"></label>
                        <input type="text" th:placeholder="#{home.admin.registry.client.register.name}"
                               th:field="*{name}" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{lastName}"
                               th:placeholder="#{home.admin.registry.client.register.lastName}"
                               class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" th:field="*{email}" th:placeholder="#{home.admin.registry.client.register.email}"
                               class="form-control" /> <label
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="password" th:field="*{password}"
                               th:placeholder="#{home.admin.registry.client.register.password}" class="form-control" />
                        <label
                                th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary btn-block"
                                th:text="#{home.admin.registry.client.register.confirm}"></button>
                    </div>
                </div>
                <span th:utext="${successMessage}"></span>
            </form>

        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>