<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{home.admin.title}"></title>
    <head th:replace="fragments/head :: head"></head>


</head>
<body>
<div class="header"></div>

<div th:replace="fragments/headerAdmin :: nav"></div>


<div class="container">


    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="backup: ${backups.getBackups()}">
            <td th:text="${backup.toString()}" />
            <td>
                <a href="#" class="linkParaFondoVerde" th:attr="onclick=|verServicios('${backup.toString()}')|"  th:text="${backup.toString()}" />
            </td>
        </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#backupModal">
        Crear Backup
    </button>

    <!-- Generar Backup -->
    <div class="modal fade" id="backupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form autocomplete="off" action="#" th:action="@{/admin/backup}"
                                  method="post" class="form-horizontal"
                                  role="form" id="backupForm">

                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <label>Generar Backup</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label>Dese realizar un backup?</label>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-primary"
                                                th:text="#{home.admin.registry.client.register.confirm}"
                                                onclick="validBackup();return false"></button>
                                    </div>
                                    <span>   </span>
                                    <div class="col-sm-3">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" id="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form autocomplete="off" action="#" th:action="@{/admin/backup/restore}"
                                  th:object="${requestbkp}"
                                  method="post" class="form-horizontal"
                                  role="form" id="restoreForm">

                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <label>Restaurar Backup</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">

                                        <label th:text="#{home.admin.backup.restore}" id="labelId"></label>
                                        <input type="text"
                                               th:field="*{id}" class="form-control" id="backupName"/>'


                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-primary"
                                                th:text="#{home.admin.registry.client.register.confirm}"
                                                onclick="restoreBackup();return false"></button>
                                    </div>
                                    <span>   </span>
                                    <div class="col-sm-3">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>

<script>

    function validBackup() {
      document.getElementById("backupForm").submit();
    }

    function restoreBackup() {
        document.getElementById("restoreForm").submit();
    }

    $(document).ready(function () {

        //consulta();
    });

    function consulta() {
        $.ajax({
            url: "https://localhost:8443/api/management/list-backup",
            headers: {
                'Content-Type': 'application/json'
            },
            crossDomain: true,
            type: 'GET',
            dataType: 'json', // added data type
            success: function(data) {
                backups = data;
                imprimir();
            },
            error: function(xhr) {
                alert("error:" + xhr.responseText);
            }
        });
    }

    function imprimir(){
        $.each(backups, function(i, item) {
            $.each(item, function(i, item) {
                $("#divApplicationDefault").append('<span class="col-sm-3 badge badge-pill badge-success">' + item +'</span>');
            });
        });
    }

    function verServicios(servicio){

        $("#backupName").val(servicio);
        $("#backupName").attr('readonly', true);
       // $("#labelId").append('<input type="hidden" th:value="'+ servicio +'" th:field="*{id}" id="id">' + servicio +'</input>');

        $('#exampleModalCenter').modal('show');
    }

</script>

</body>
</html>