<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{home.admin.title}"></title>
    <head th:replace="fragments/head :: head"></head>


</head>
<body>
<div class="header"></div>

<div th:replace="fragments/headerAdmin :: nav"></div>


<div class="container">


    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Activo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="seller: ${sellers}">
            <td th:text="${seller.getUsername()}" />
            <td th:text="${seller.getNombre()}" />
            <td th:text="${seller.getApellido()}" />
            <td th:text="${seller.getEmail()}" />
            <td th:text="${seller.getActive()}" />
        </tr>
        </tbody>
    </table>

</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>