<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{home.admin.title}"></title>
    <head th:replace="fragments/head :: head"></head>


</head>
<body>
<div class="header"></div>

<div th:replace="fragments/headerUser :: nav"></div>


<div class="container">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" th:text="#{home.admin.registry.client.register.name}"></th>
            <th scope="col" th:text="#{home.admin.registry.client.register.lastName}"></th>
            <th scope="col" th:text="#{home.admin.registry.client.register.cuit}"></th>
            <th scope="col" th:text="#{home.admin.registry.client.register.address}"></th>
            <th scope="col" th:text="#{home.admin.registry.client.register.email}"></th>
            <th scope="col" th:text="#{home.admin.registry.client.register.entity}"></th>
            <th scope="col" th:text="#{home.admin.registry.client.register.market}"></th>
            <th scope="col" th:text="#{home.admin.registry.client.register.service}"></th>
            <th scope="col" th:text="#{home.admin.registry.client.register.configuration}"></th>
            <th scope="col" th:text="#{home.admin.registry.client.register.status}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="seller: ${seller}">
            <td th:text="${seller.getNombre()}" />
            <td th:text="${seller.getApellido()}" />
            <td th:text="${seller.getCuit()}" />
            <td th:text="${seller.getDireccion()}" />
            <td th:text="${seller.getEmail()}" />
            <td th:text="${seller.getRazonSocial()}" />
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editMarketModal">
                    Editar
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#miServicioModal">
                    Ver
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editConfiguracionModal">
                    Editar
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-warning" data-toggle="modal"
                        data-target="#statusModal" th:if="${seller.getStatus() == 0}">ver</button>
                <button type="button" class="btn alert-success" data-toggle="modal"
                        data-target="#statusModal" th:if="${seller.getStatus() == 1}">ver</button>
            </td>

        </tr>

        </tbody>
    </table>
    <span th:utext="${successMessage}"></span>

    <!-- editMarketModalModal -->
    <div class="modal fade" id="editMarketModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form autocomplete="off" action="#" th:action="@{/market}"
                                  th:object="${market}" method="post" class="form-horizontal"
                                  role="form" id="marketForm">

                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <label th:text="Market"></label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">

                                        <label th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
                                               class="validation-message"></label>
                                        <label th:text="#{home.admin.registry.client.register.name}"></label>
                                        <input type="text" th:placeholder="#{home.admin.registry.client.register.name}"
                                               th:field="*{nombre}" class="form-control" id="marketName"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"
                                               class="validation-message"></label>
                                        <label th:text="#{home.seller.market.phone}"></label>
                                        <input type="text" th:placeholder="#{home.seller.market.phone}"
                                               th:field="*{telefono}" class="form-control" id="marketTelefono"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label th:if="${#fields.hasErrors('URL')}" th:errors="*{URL}"
                                               class="validation-message"></label>
                                        <label th:text="#{home.seller.market.url}"></label>
                                        <input type="text" th:placeholder="#{home.seller.market.url}"
                                               th:field="*{URL}" class="form-control" id="marketUrl"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label th:if="${#fields.hasErrors('codigoPais')}" th:errors="*{codigoPais}"
                                               class="validation-message"></label>
                                        <label th:text="#{home.seller.market.countryCode}"></label>
                                        <input type="text" th:placeholder="#{home.seller.market.countryCode}"
                                               th:field="*{codigoPais}" class="form-control" id="marketCountryCode"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label th:if="${#fields.hasErrors('categoriaMercante')}" th:errors="*{categoriaMercante}"
                                               class="validation-message"></label>
                                        <label th:text="#{home.seller.market.merchantCategory}"></label>
                                        <input type="text" th:placeholder="#{home.seller.market.merchantCategory}"
                                               th:field="*{categoriaMercante}" class="form-control" id="marketMerchantCategory"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-primary"
                                                th:text="#{home.admin.registry.client.register.confirm}"
                                                onclick="validMarket();return false"></button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- miServicioModal Modal -->
    <div class="modal fade" id="miServicioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col" th:text="#{home.seller.servicio.description}"/>
                            <th scope="col" th:text="#{home.seller.servicio.amount}"/>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="sellerServicio: ${seller.getServicio()}">
                            <td th:text="${sellerServicio.getDescripcion()}" />
                            <td th:text="${sellerServicio.getCosto()}" />
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- edit Market Modal -->
    <div class="modal fade" id="editConfiguracionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form autocomplete="off" action="#" th:action="@{/configuracion}"
                                  th:object="${configuracion}" method="post" class="form-horizontal"
                                  role="form" id="configuracionForm">

                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <label th:text="Market"></label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label th:if="${#fields.hasErrors('cantidadRecordarCompraAbandonada')}" th:errors="*{cantidadRecordarCompraAbandonada}"
                                               class="validation-message"></label>
                                        <label th:text="#{home.seller.configuracion.cantidadRecordarCompraAbandonada}"></label>
                                        <input type="text" th:placeholder="#{home.seller.configuracion.cantidadRecordarCompraAbandonada}"
                                               th:field="*{cantidadRecordarCompraAbandonada}" class="form-control" id="recuperarCompra"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label th:if="${#fields.hasErrors('codigoTelefonoNoOk')}" th:errors="*{codigoTelefonoNoOk}"
                                               class="validation-message"></label>
                                        <label th:text="#{home.seller.configuracion.phoneCodeNook}"></label>
                                        <input type="text" th:placeholder="#{home.seller.configuracion.phoneCodeNook}"
                                               th:field="*{codigoTelefonoNoOk}" class="form-control" id="phoneCodeNoOk"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label th:if="${#fields.hasErrors('codigoTelefonoOk')}" th:errors="*{codigoTelefonoOk}"
                                               class="validation-message"></label>
                                        <label th:text="#{home.seller.configuracion.phoneCodeOk}"></label>
                                        <input type="text" th:placeholder="#{home.seller.configuracion.phoneCodeOk}"
                                               th:field="*{codigoTelefonoOk}" class="form-control" id="phoneCodeOk"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label th:if="${#fields.hasErrors('mensajeBienvenida')}" th:errors="*{mensajeBienvenida}"
                                               class="validation-message"></label>
                                        <label th:text="#{home.seller.configuracion.wellcomeMessage}"></label>
                                        <input type="text" th:placeholder="#{home.seller.configuracion.wellcomeMessage}"
                                               th:field="*{mensajeBienvenida}" class="form-control" id="bienvenida"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label th:if="${#fields.hasErrors('postConfirmacion')}" th:errors="*{postConfirmacion}"
                                               class="validation-message"></label>
                                        <label th:text="#{home.seller.configuracion.postConfirmation}"></label>
                                        <input type="text" th:placeholder="#{home.seller.configuracion.postConfirmation}"
                                               th:field="*{postConfirmacion}" class="form-control" id="postConfirmation"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label th:if="${#fields.hasErrors('preConfirmacion')}" th:errors="*{preConfirmacion}"
                                               class="validation-message"></label>
                                        <label th:text="#{home.seller.configuracion.preConfirmation}"></label>
                                        <input type="text" th:placeholder="#{home.seller.configuracion.preConfirmation}"
                                               th:field="*{preConfirmacion}" class="form-control" id="preConfirmation"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label th:if="${#fields.hasErrors('tipoProcesamiento')}" th:errors="*{tipoProcesamiento}"
                                               class="validation-message"></label>
                                        <label th:text="#{home.seller.configuracion.processTipe}"></label>
                                        <input type="text" th:placeholder="#{home.seller.configuracion.processTipe}"
                                               th:field="*{tipoProcesamiento}" class="form-control" id="processTipe"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label th:if="${#fields.hasErrors('URLNoOk')}" th:errors="*{URLNoOk}"
                                               class="validation-message"></label>
                                        <label th:text="#{home.seller.configuracion.URLNoOk}"></label>
                                        <input type="text" th:placeholder="#{home.seller.configuracion.URLNoOk}"
                                               th:field="*{URLNoOk}" class="form-control" id="URLNoOk"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label th:if="${#fields.hasErrors('URLOk')}" th:errors="*{URLOk}"
                                               class="validation-message"></label>
                                        <label th:text="#{home.seller.configuracion.URLOk}"></label>
                                        <input type="text" th:placeholder="#{home.seller.configuracion.URLOk}"
                                               th:field="*{URLOk}" class="form-control" id="URLOk"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-primary"
                                                th:text="#{home.admin.registry.client.register.confirm}"
                                                onclick="validConfiguracion();return false"></button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- miServicioModal Modal -->
    <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div th:if="${seller.getStatus() == 0}" class="modal-body" th:text="#{home.seller.status.nook}"/>
                <div th:if="${seller.getStatus() == 1}" class="modal-body" th:text="#{home.seller.status.ok}"/>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>
<script>
    function validMarket() {

        if (document.getElementById("marketName").value == "" ||
            document.getElementById("marketTelefono").value == "" ||
            document.getElementById("marketUrl").value == "" ||
            document.getElementById("marketCountryCode").value == "" ||
            document.getElementById("marketMerchantCategory").value == ""){
            alert("Debe ingresar todos los valores.");
        } else {
            document.getElementById("marketForm").submit();
        }
    }

    function validConfiguracion() {

        if (document.getElementById("recuperarCompra").value == "" ||
            document.getElementById("phoneCodeNoOk").value == "" ||
            document.getElementById("phoneCodeOk").value == "" ||
            document.getElementById("postConfirmation").value == "" ||
            document.getElementById("preConfirmation").value == "" ||
            document.getElementById("processTipe").value == "" ||
            document.getElementById("URLNoOk").value == "" ||
            document.getElementById("bienvenida").value == "" ||
            document.getElementById("URLOk").value == "" ){
            alert("Debe ingresar todos los valores.");
        } else {
            document.getElementById("configuracionForm").submit();
        }
    }

</script>
</body>
</html>