<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div class="footer">
    <!-- Footer -->
    <footer class="blue">

        <div class="row">
            <div class="footer-copyright text-center col-sm-6">
                © 2019 Copyright:
                <a href="https://www.linkedin.com/in/santiagokirylukmaclean/"> Santiago Kiryluk Maclean</a>
            </div>
            <div class="footer-copyright text-center col-sm-6">
                Redes Sociales
                <i class="fa fa-facebook-square"></i>
            </div>
        </div>



    </footer>
</div>