<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/payments.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
    <script type='text/javascript' th:src="@{/js/jquery.min.js}"></script>
    <script type='text/javascript' th:src="@{/js/bootstrap.min.js}"></script>
</head>