<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{login}"></title>
    <head th:replace="fragments/head :: head"></head>

</head>

<body>

<div class="container">

    <form th:action="@{/login}" method="POST" class="form-signin">
        <img th:src="@{images/paymentsLogin.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />
        <h3 class="form-signin-heading" th:text="#{welcome}"></h3>

        <input type="text" id="username" name="username"  th:placeholder="#{enter.email}"
               class="form-control" /> <br/>

        <input type="password"  th:placeholder="#{enter.password}"
               id="password" name="password" class="form-control" /> <br />

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>

        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="#{login}"></button>
        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" th:text="#{home.admin.registry.client.register.menu}"/>

        <span th:utext="${successMessage}"></span>


    </form>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form autocomplete="off" action="#" th:action="@{/registration}"
                          th:object="${seller}" method="post" class="form-horizontal"
                          role="form">

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:text="#{home.admin.registry.client.register.title}"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
                                       class="validation-message"></label>
                                <input type="text" th:placeholder="#{home.admin.registry.client.register.name}"
                                       th:field="*{nombre}" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"
                                       class="validation-message"></label>
                                <input type="text" th:placeholder="#{home.admin.registry.client.register.lastName}"
                                       th:field="*{apellido}" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label th:if="${#fields.hasErrors('razonSocial')}" th:errors="*{razonSocial}"
                                       class="validation-message"></label>
                                <input type="text" th:placeholder="#{home.admin.registry.client.register.entity}"
                                       th:field="*{razonSocial}" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label th:if="${#fields.hasErrors('cuit')}" th:errors="*{cuit}"
                                       class="validation-message"></label>
                                <input type="text" th:placeholder="#{home.admin.registry.client.register.cuit}"
                                       th:field="*{cuit}" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"
                                       class="validation-message"></label>
                                <input type="text" th:placeholder="#{home.admin.registry.client.register.address}"
                                       th:field="*{direccion}" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                Costo
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control" th:field="*{servicio}">
                                    <option th:each="service : ${servicios}"
                                            th:value="${service.getId()}"
                                            th:utext="${service.getCosto()}"/>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" th:field="*{email}" th:placeholder="#{home.admin.registry.client.register.email}"
                                       class="form-control" /> <label
                                    th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                    class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                       class="validation-message"></label>
                                <input type="text" th:placeholder="#{home.admin.registry.client.register.username}"
                                       th:field="*{username}" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" th:field="*{password}"
                                       th:placeholder="#{home.admin.registry.client.register.password}" class="form-control" />
                                <label
                                        th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                        class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-primary btn-block"
                                        th:text="#{home.admin.registry.client.register.confirm}"></button>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                        th:text="#{close}"/>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>


</div>


<div th:replace="fragments/footer :: footer"></div>

</div>


</body>
</html>