<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Payments Login</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/payments.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script type='text/javascript' th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

<body>

<div class="container">

    <form th:action="@{/login}" method="POST" class="form-signin">
        <img th:src="@{images/paymentsLogin.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />
        <h3 class="form-signin-heading" th:text="#{welcome}"></h3>

        <input type="text" id="email" name="email"  th:placeholder="#{enter.email}"
               class="form-control" /> <br/>

        <input type="password"  th:placeholder="#{enter.password}"
               id="password" name="password" class="form-control" /> <br />

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>

        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>

    </form>
</div>
<br/>
<div class="footer">
    <!-- Footer -->
    <footer class="blue">

        <div class="row">
            <div class="footer-copyright text-center col-sm-4">
                © 2019 Copyright:
                <a href="https://www.linkedin.com/in/santiagokirylukmaclean/"> Santiago Kiryluk Maclean</a>
            </div>
            <div class="footer-copyright text-center col-sm-4">
                Redes Sociales
            </div>
            <div class="footer-copyright text-center col-sm-4">
                 <span th:text="#{lang.change}"/>
                <a th:href="@{/login?lang=es}" class="btn btn-primary btn-xs" role="button"><span th:text="#{lang.es}"/></a>
                <a th:href="@{/login?lang=en}" class="btn btn-primary btn-xs" role="button"><span th:text="#{lang.en}"/></a>
            </div>
        </div>



    </footer>
    <!-- Footer -->
</div>


</body>
</html>